<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticketing" connectionString="&#xD;&#xA;           Data Source=tcp:q19eepf0c7.database.windows.net,1433;&#xD;&#xA;           Initial Catalog=Stadium Ticketing;&#xD;&#xA;           Integrated Security=False;&#xD;&#xA;           User Id=se@q19eepf0c7;&#xD;&#xA;           Password=SoftEng14;&#xD;&#xA;           Encrypt=True;&#xD;&#xA;           TrustServerCertificate=False;&#xD;&#xA;           MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="Stadium_Ticketing.Properties.Settings.TicketingConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=G:\Documents\DB\Ticketing.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Stadium_Ticketing.Properties.Settings.Stadium_TicketingConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\Stadium Ticketing.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>