<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--<add name="Ticketing"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=G:\Documents\DB\Ticketing.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->

      <add name="Ticketing"
         providerName="System.Data.SqlClient"
         connectionString="
           Data Source=tcp:q19eepf0c7.database.windows.net,1433;
           Initial Catalog=Stadium Ticketing;
           Integrated Security=False;
           User Id=se@q19eepf0c7;
           Password=SoftEng14;
           Encrypt=True;
           TrustServerCertificate=False;
           MultipleActiveResultSets=True" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>